// src/app/features/cms/components/edit-blog/edit-blog.component.scss
@import '../create-blog/create-blog.component.scss';

.loading-container {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}
